<!DOCTYPE html>
<html lang="en">
  <head>

    <!-- Basic Page Needs
    ================================================== -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <title>Michael Quon Portfolio</title>

    <!-- Mobile Specific Metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- CSS
    ================================================== -->       
    <!-- Bootstrap css file-->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font awesome css file-->
    <link href="/css/font-awesome.min.css" rel="stylesheet">
    <!-- Superslide css file-->
    <link rel="stylesheet" href="/css/superslides.css">
    <!-- Slick slider css file -->
    <link href="/css/slick.css" rel="stylesheet"> 
    <!-- smooth animate css file -->
    <link rel="stylesheet" href="/css/animate.css">  
    <!-- Elastic grid css file -->
    <link rel="stylesheet" href="/css/elastic_grid.css"> 
    <!-- Circle counter cdn css file -->
    <link rel='stylesheet prefetch' href='https://cdn.rawgit.com/pguso/jquery-plugin-circliful/master/css/jquery.circliful.css'>    
    <!-- Default Theme css file -->
    <link id="orginal" href="/css/themes/default-theme.css" rel="stylesheet">
    <!-- Main structure css file -->
    <link href="css/style.css" rel="stylesheet">
   
    <!-- Google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,400,500,700,900" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Varela' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body> 
     <!-- BEGIN PRELOADER -->
    <div id="preloader">
      <div id="status">&nbsp;</div>
    </div>
    <!-- END PRELOADER -->

    <!-- SCROLL TOP BUTTON -->
    <a class="scrollToTop" href="#"><i class="fa fa-angle-up"></i></a>
    <!-- END SCROLL TOP BUTTON -->

    <!--=========== BEGIN HEADER SECTION ================-->
    <header id="header">
      <!-- BEGIN MENU -->
      <div class="menu_area">
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation"> 
          <div class="container">
          <div class="navbar-header">
            <!-- FOR MOBILE VIEW COLLAPSED BUTTON -->
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>

            <!-- IMG BASED LOGO  -->
            <img class="header-logo" src="img/logo.png" alt="logo">
            <a class="navbar-brand" href="#">Michael<span>Quon</span></a> 
                   
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul id="top-menu" class="nav navbar-nav navbar-right main_nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#about">About Me</a></li>
              <li><a href="#service">Competencies</a></li>
              <li><a href="#works">Projects</a></li>           
              <li><a href="#contact">Contact Me</a></li>                           
            </ul>           
          </div><!--/.nav-collapse -->
          </div>     
        </nav>  
      </div>
      <!-- END MENU -->
      <!-- BEGIN SLIDER AREA-->
      <div class="slider_area">
        <!-- BEGIN SLIDER-->          
        <div id="slides"> 
          <ul class="slides-container">
            <!-- THE FIRST SLIDE-->
            <li>
              <!-- FIRST SLIDE OVERLAY -->
              <div class="slider_overlay"></div> 
              <!-- FIRST SLIDE MAIN IMAGE -->
              <!-- PARTICLES ANIMATION IMAGE -->
              <div id="particles-js"></div>
              <img src="img/full-slide2.jpg" alt="img">
              <!-- FIRST SLIDE CAPTION-->
              <div class="slider_caption">   
                <h2>Hi, I am Michael<span style="color: #2da2c8; ">Quon</span></h2>
                <!-- TEXT SCRAMBLE ANIMATION -->
                <div id="text2" class="text"></div>
                <a href="#about" class="slider_btn">Learn More</a>              
              </div>
              
            </li>
            
          </ul>
          
          <!-- BEGIN SLIDER NAVIGATION -->
          <nav class="slides-navigation">
            <!-- PREV IN THE SLIDE -->
            <a class="prev" href="#">
              <span class="icon-wrap"></span>
              <h3><strong>Prev</strong></h3>
            </a>
            <!-- NEXT IN THE SLIDE -->
            <a class="next" href="#">
              <span class="icon-wrap"></span>
              <h3><strong>Next</strong></h3>
            </a>
          </nav>       
        </div>
        <!-- END SLIDER-->          
      </div>
      <!-- END SLIDER AREA -->
    </header>
    <!--=========== End HEADER SECTION ================--> 


    <!--=========== BEGIN ABOUT SECTION ================-->
    <section id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-12">
            <div class="about_area">
              <!-- START ABOUT HEADING -->
              <div class="heading">
                <h2 class="wow fadeInLeftBig">About Me</h2>
  
                <p>I am a Web Developer with a background in Graphic Design. Below I have listed my recent projects that I have
                    worked on as well as technologies used. Feel free to contact me with any questions.
                    <a style="color:#0cb9d7;" href="mailto:mquon@outlook.com">Michael Quon</a></p>
                <p>My Dream has always been to become a Web Developer. With the support of my wife, family and friends I was able
                    to embarked on this journey to be able to create applications and designs that I could only imagine. I attended
                    a immersive boot camp called Coding Dojo which taught me Python/Django, MEAN Stack, C#/ASP.NET Core. It is
                    also where I met many new friends in my cohort. I am constantly learning new frameworks, libraries, techniques
                    and languages.</p>
              </div>

              <!-- START ABOUT CONTENT -->
              <div class="about_content">
                <div class="row">
                  <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="about_featured">
                      <div class="panel-group" id="accordion">
                        <!-- START FEATURED ITEM #1-->
                        <div class="panel panel-default wow fadeInLeft">
                          <div class="panel-heading">
                            <h4 class="panel-title">
                              <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                 <span class="fa fa-check-square-o"></span>Attention to Detail
                              </a>
                            </h4>
                          </div>
                          <div id="collapseOne" class="panel-collapse collapse in">
                            <div class="panel-body">
                            <p>Making sure you pay attention to details can make or break a design. I believe that making sure even the smallest details are thought out and designed carefully. 
                               It may only seem like minor details but those minor details truly matter. I make it a priority when I’m creating a logo, graphic layout or designing an initial framework 
                               for a site that I pay attention to every part of the design even to the smallest detail.</p>
                            <p>Having the experience being able to create a web project from start to finish gives me the ability to make sure I can follow through from start to finish and focus on the 
                              project flow and follow the detail all the way through.</p>
                            </div>
                          </div>
                        </div>
                        <!-- START FEATURED ITEM #2 -->
                        <div class="panel panel-default wow fadeInLeft">
                          <div class="panel-heading">
                            <h4 class="panel-title">
                              <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                 <span class="fa fa-check-square-o"></span>Clean Creative Designs
                              </a>
                            </h4>
                          </div>
                          <div id="collapseTwo" class="panel-collapse collapse">
                            <div class="panel-body">
                            <p>I have worked as a graphic designer for over 20 years creating simplistic design styles. I’ve designed in many different types of formats such as svg, png, jpg, gif, eps etc… 
                              Having this design experience allows me to make sure when creating a site I able to keep my designs clean and creative.</p>
                            <p>With being able to work as a full stack developer on web application I was able to work with making sure that I follow my creativity throughout the design.</p>
                            </div>
                          </div>
                        </div>
                        <!-- START FEATURED ITEM #3 -->
                        <div class="panel panel-default wow fadeInLeft">
                          <div class="panel-heading">
                            <h4 class="panel-title">
                              <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                                <span class="fa fa-check-square-o"></span>Work Ethics
                              </a>
                            </h4>
                          </div>
                          <div id="collapseThree" class="panel-collapse collapse">
                            <div class="panel-body">
                              <p>I’ve had the pleasure with working with many great developers and designers. I can’t tell you how important it is to have good work ethics. It affects the way you are able 
                               to do your job as well as your colleagues. Hard work and being diligent at what you do builds great strength of character.</p>
                              <p>Collaboration is essential to being able to create Web application effectively. It makes it very difficult to succeed in work and life if you aren’t able to work with others. 
                                I wouldn’t be able to successful in creating Web application if it wasn’t for my team. Go Quontum4!</p>
                            </div>
                          </div>
                        </div>
                        <!-- START FEATURED ITEM #4 -->
                        <div class="panel panel-default wow fadeInLeft">
                          <div class="panel-heading">
                            <h4 class="panel-title">
                              <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                                <span class="fa fa-check-square-o"></span>Family
                              </a>
                            </h4>
                          </div>
                          <div id="collapseFour" class="panel-collapse collapse">
                            <div class="panel-body">
                            <p>Family keeps me grounded.  I wouldn’t be here today without them. My wife is my best critic in life. She will always be critical with whatever I do.  I truly believe my family and 
                              having them around is one of the most important thing in my life. I will always be grateful for my family and what they have done for me in my life. They will always be there..</p> 
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="about_slider">
                      <!-- BEGAIN FEATURED SLIDER -->
                      <div class="featured_slider">
                        <!-- SINGLE SLIDE IN THE SLIDER -->
                        <div class="single_iteam">
                          <a href="#"> <img src="img/feature_img1.jpg" alt="img"></a>                          
                        </div>
                        <!-- SINGLE SLIDE IN THE SLIDER -->
                        <div class="single_iteam">
                          <a href="#"> <img src="img/feature_img2.jpg" alt="img"></a>                          
                        </div>
                        <!-- SINGLE SLIDE IN THE SLIDER -->
                        <div class="single_iteam">
                          <a href="#"> <img src="img/feature_img3.jpg" alt="img"></a>                           
                        </div>
                        <!-- SINGLE SLIDE IN THE SLIDER -->
                        <div class="single_iteam">
                          <a href="#"> <img src="img/feature_img4.jpg" alt="img"></a>                           
                        </div>
                        <!-- SINGLE SLIDE IN THE SLIDER -->
                        <div class="single_iteam">
                          <a href="#"> <img src="img/feature_img5.jpg" alt="img"></a>                           
                        </div>
                      </div>
                      <!-- END FEATURED SLIDER -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>       
      </div>
       
    </section>
    <!--=========== END ABOUT SECTION ================-->

    <!--=========== BEGIN COMPETENCIES SECTION ================-->
    <section id="service">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-12">
            <!-- BEGAIN SERVICE HEADING -->
            <div class="heading">
              <h2 class="wow fadeInLeftBig">Competencies</h2>
              <p>Languages, frameworks, libraries, databases and tools.</p>
            </div>
          </div>          
        </div>
        <div class="row">
          <div class="col-lg-12 col-md-12">
            <!-- BEGAIN COMPETENCIES  -->
            <div class="service_area">
              <div class="row">
                <!-- BEGIN SINGLE COMPETENCIES -->
                <div class="col-lg-6 col-md-6 col-sm-6">
                  <div class="single_service wow fadeInLeft">
                    <div class="service_iconarea">
                      <img class="comp-logo" src="img/web fund.png" alt="">
                    </div>
                    <h3 class="service_title">Web Fundamentals</h3>
                    <ul class="comp-text" style="text-align:center">
                      <li>HTML</li>
                      <li>CSS</li>
                      <li>JavaScript</li>
                    </ul>
                  </div>
                </div>
                <!-- BEGIN SINGLE COMPETENCIES -->
                <div class="col-lg-6 col-md-6 col-sm-6">
                  <div class="single_service wow fadeInRight">
                    <div class="service_iconarea">
                        <img class="comp-logo" src="img/python_seal.png" alt="">
                    </div>
                    <h3 class="service_title">Python Stack</h3>
                    <ul class="comp-text" style="text-align:center">
                        <li>Python</li>
                        <li>Django</li>
                        <li>SQLite</li>
                      </ul>
                  </div>
                </div>
              </div>
              <div class="row">
                <!-- BEGIN SINGLE COMPETENCIES -->
                <div class="col-lg-6 col-md-6 col-sm-6">
                  <div class="single_service wow fadeInLeft">
                    <div class="service_iconarea">
                        <img class="comp-logo" src="img/mean.png" alt="">
                    </div>
                    <h3 class="service_title">Mean Stack</h3>
                    <ul class="comp-text" style="text-align:center">
                        <li>Node.js</li>
                        <li>Angular</li>
                        <li>Express</li>
                        <li>MongoDB</li>
                      </ul>
                  </div>
                </div>
                <!-- BEGIN SINGLE COMPETENCIES -->
                <div class="col-lg-6 col-md-6 col-sm-6">
                  <div class="single_service wow fadeInRight">
                    <div class="service_iconarea">
                        <img class="comp-logo" src="img/csharp_seal.png" alt="">
                    </div>
                    <h3 class="service_title">C# Stack</h3>
                    <ul class="comp-text" style="text-align:center">
                        <li>ASP.NET Core</li>
                        <li>Entity Framework</li>
                        <li>MySql Database</li>
                      </ul>
                  </div>
                </div>
              </div>
              <div class="row">
                <!-- BEGIN SINGLE COMPETENCIES -->
                <div class="col-lg-6 col-md-6 col-sm-6">
                  <div class="single_service wow fadeInLeft">
                    <div class="service_iconarea">
                        <img class="comp-logo" src="img/lib.png" alt="">
                    </div>
                    <h3 class="service_title">Libraries</h3>
                    <ul class="comp-text" style="text-align:center">
                        <li>Particles-js</li>
                        <li>Bootstrap</li>
                        <li>Materialize</li>
                      </ul>
                  </div>
                </div>
                <!-- BEGIN SINGLE COMPETENCIES -->
                <div class="col-lg-6 col-md-6 col-sm-6">
                  <div class="single_service wow fadeInRight">
                    <div class="service_iconarea">
                        <img class="comp-logo" src="img/tools.png" alt="">
                    </div>
                    <h3 class="service_title">Tools & Applications</h3>
                    <ul class="comp-text" style="text-align:center">
                        <li>Adobe Photoshop</li>
                        <li>Adobe Illustrator</li>
                        <li>GitHub</li>
                      </ul>
                  </div>
                </div>
              </div>
              </div>
          </div>
        </div>
      </div>
    </section>
    <!--=========== END COMPETENCIES SECTION ================-->

    

      <!-- BEGIN PROJECT WORK SECTION -->
      <section id="works">
      <div class="row">
        <div class="portfolio_area">
          <!-- BEGIN PROJECT HEADER -->
          <div class="row">
            <div class="col-lg-12 col-md-12">
             <div class="container">
                <div class="heading">
                  <h2 class="wow fadeInLeftBig">Projects</h2>
                  <p>Below are some of my recent academic projects that I've worked on. Most of my projects are currently still being worked on with additional features to come. </p>
      
                </div>
              </div>
            </div>
          </div>
          <!-- END PROJECT HEADER -->

          <!-- BEGIN PROJECT GALLERY -->
          <div class="row">
            <div class="portfolio_gallery">
              <div id="elastic_grid_demo"></div>
            </div>
          </div>
          <!-- END PROJECT GALLERY -->
        </div>         
      </div>      
    </section>
    <!--=========== END PROJECT SECTION ================-->

   

    <!--=========== BEGIN CONTACT SECTION ================-->
  @model Contact.ViewModel.ContactViewModel

    <section id="contact">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12">
            <!-- START CONTACT HEADING -->
            <div class="heading">
              <h2 class="wow fadeInLeftBig">Contact Me</h2>
              <p>I am always looking to get involved with new projects. I would love to hear from you.</p>
            </div>
          </div>
        </div>       
        <div class="row">
          <!-- BEGIN CONTACT CONTENT -->
          <div class="contact_content">
            <!-- BEGIN CONTACT FORM -->
            <div class="col-lg-5 col-md-5 col-sm-5">
              <div class="contact_form">

                <!-- FOR CONTACT FORM MESSAGE -->
                <div id="form-messages"></div>
                @if (ViewBag.Message == null)
              {
                <form asp-controller="Home" method="post" asp-action="Index" id="cform">
                  <span asp-validation-for="Name" class="form-Error"></span>
                  <input asp-for="Name" class="form-control" type="text" placeholder="Your Name">
                  <span asp-validation-for="Email" class="form-Error"></span>
                  <input asp-for="Email" class="form-control" type="email" placeholder="Your Email Address">
                  <span asp-validation-for="Subject" class="form-Error"></span>
                  <input asp-for="Subject" class="form-control" type="text" placeholder="Subject">
                  <span asp-validation-for="Message" class="form-Error"></span>
                  <textarea asp-for="Message" class="form-control" cols="30" rows="10" placeholder="Your Message"></textarea>
                   <input class="submit_btn" type="submit" value="Send">  
                </form>
              }
               @if (ViewBag.Message != null)
            {
                   <h3 class="contact-reply">@ViewBag.Message</h3> 
                }
              </div>
              
            </div>
            <!-- BEGIN CONTACT MAP -->
            <div class="col-lg-7 col-md-7 col-sm-7">
              <div class="contact_map">
              <!-- BEGIN GOOGLE MAP -->
               <div id="map_canvas"></div>
              </div>
            </div>           
          </div>
        </div>      
      </div>             
    </section>
    <!--=========== END CONTACT SECTION ================-->

   

 
     <!--=========== BEGIN FOOTER ================-->
     <footer id="footer">
       <div class="container">
         <div class="row">
           <div class="col-lg-6 col-md-6 col-sm-6">
             <div class="footer_left">
				<!--=========== Designed By Michael Quon ================-->
               <p>Copyright &copy; 2018 <a href="http://www.michaelquon.com">MichaelQuon</a>. All Rights Reserved</p>
			   <!--=========== Designed By Michael Quon ================-->
             </div>
           </div>
           <div class="col-lg-6 col-md-6 col-sm-6">
             <div class="footer_right">
               <ul class="social_nav">
                 <li><a href="https://www.facebook.com/michael.quon" target="_blank"><i class="fa fa-facebook"></i></a></li>
                 <li><a href="https://twitter.com/MquonQuonza" target="_blank"><i class="fa fa-twitter"></i></a></li>
                 <li><a href="https://github.com/michaelquon" target="_blank"><i class="fa fa-github"></i></a></li>
                 <li><a href="https://www.linkedin.com/in/michaelquon32/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
               </ul>
             </div>
           </div>
         </div>
       </div>
      </footer>
      <!--=========== END FOOTER ================-->

     <!-- Javascript Files
     ================================================== -->
     <!-- initialize particles-js -->
     <!-- <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
     <script> particlesJS.load('particles-js', 'particles.json', function () {console.log('particles.json loaded...');});</script> -->
     <!-- initialize jQuery Library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Google map -->
    <script src="https://maps.googleapis.com/maps/api/js"></script>
    <script src="js/jquery.ui.map.js"></script>
     <!-- For smooth animatin  -->
    <script src="js/wow.min.js"></script> 
    <!-- Bootstrap js -->
    <script src="js/bootstrap.min.js"></script>
    <!-- superslides slider -->
    <script src="js/jquery.superslides.min.js" type="text/javascript"></script>
    <!-- slick slider -->
    <script src="js/slick.min.js"></script>    
    <!-- for circle counter -->
    <script src='https://cdn.rawgit.com/pguso/jquery-plugin-circliful/master/js/jquery.circliful.min.js'></script>
    <!-- for portfolio filter gallery -->
    <script src="js/modernizr.custom.js"></script>
    <script src="js/classie.js"></script>
    <script src="js/elastic_grid.min.js"></script>
    <script src="js/TextScramble.js"></script>
    <script src="js/portfolio_slider.js"></script>

    <!-- Custom js-->
    
    <script src="js/custom.js"></script>

  </body>
</html>